<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
     <a href="http://about.johannesk.com">about</a> | 

<a href="http://blog.johannesk.com">blog</a> | 

<a href="http://now.johannesk.com">now</a> | 

<a href="https://notes.pinboard.in/u:posthumanist/notes/d14b556512d7b231aa8e">pinboard</a> | 

<a href="https://docs.google.com/forms/d/e/1FAIpQLSehYJX5PxwxtQ_IO8q90sOtQFqUBg2L4rcilCiUGsY0wqCbaQ/viewform?embedded=true">contact</a><p> | nederlands         
        </ul>
  
      </div>
      <div class="footer-col">

<p><a href="http://johannesk.com”>johannesk.com</a></p>
        
      </div>
    </div>
  </div>

</footer>